<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Veloz Technologies</a>
    
  </small>
  <nav>
    <ul>
      <li>
      <%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="www.veloztech.in">News</a></li>
    </ul>
  </nav>
</footer>